fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
pydantic-settings==2.14.2
ollama==0.6.2
python-dotenv==1.0.1
python-multipart==0.0.9
langchain
langchain-community
langchain-ollama
langchain-text-splitters
faiss-cpu
pypdf
